apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: librechat
  labels:
    app: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:8.2.3
          ports:
            - containerPort: 27017
          envFrom:
            - secretRef:
                name: librechat-secrets
          volumeMounts:
            - name: mongodb-data
              mountPath: /data/db
      volumes:
        - name: mongodb-data
          persistentVolumeClaim:
            claimName: mongodb-data-pvc
